## For loops

`For` loops iterate over a given sequence, for example:

In [7]:
# Prints out the numbers 0 to n
for n in range(5):
    print(n)

# Prints out 3,4,5 (3 to 6, not including 6)
for n in range(3, 6):
    print(n)

# Prints out 3,5,7 (from 3 to 8, not including 8, in steps of 2)
for n in range(3, 8, 2):
    print(n)

0
1
2
3
4
3
4
5
3
5
7



The last range function accepted three arguments, so we can move in steps. `From 3 to 8, not including 8 in steps of 2`.

> Note: that the range function is zero-based.

You can also iterate through a list of names. For example:

In [ ]:
# a list of names
list_name = ["Constance", "Octavia", "Hannah"]

# for every name in list_name, print name
for name in list_name:
    print(name)

In [ ]:
# a list of names
list_name = ["Constance", "Octavia", "Hannah"]

for n in list_name:
  if n == "Hannah":
    break # Shaun caused the loop to break or stop
  print(n)

In [ ]:
# a list of names
list_name = ["Constance", "Octavia", "Hannah"]

for n in list_name:
  if n == "Hannah":
    continue # skip Hannah
  print(n)