## Comparison operators

A math operator is a character that performs an operation on one or more objects, called operands. Remember that comparison operators will always return a `True` or `False` response.

To explore Python comparison operators, try out the following comparison operations:

In [ ]:
# False ==

In [ ]:
# True !=

In [ ]:
# True <

In [ ]:
# False >

We also have `<=` and `>=` comparison operators. Let's try out some *greater than or equal to* and less than or equal to comparisons in the following examples:

In [ ]:
# True <=

In [ ]:
# True >=

In [ ]:
# False >=

In [ ]:
# True <=

In [ ]:
# False <=

Finally, you can also use the equal `==` and not equal `!=` comparison operators on strings. For example, `"Yes" == "Yes"`returns True. String comparisons are case-sensitive, so keep that in mind. For example, `"Yes" == "yes"` would return False.

The `==` checks equality of values and data type. For example, ` 3 == "3"` will return `False` because they are not the same data type even though they are both `3`. In contrast, ` 3 == 3` will return `True` because they are the same value and data type.

Let's try using the equal `==` and not equal `!=` comparison operators on the `Bool` values:

In [ ]:
# False ==

In [ ]:
# True ==

In [ ]:
# False !=

In [ ]:
# True !=

## Logical Operators

Logical operators are great when you want to combine conditional statements. Try out the following examples, and be sure to type your own code as you try them out:

In [ ]:
# assign the value 3 to variable: n


# and logical operator

In [ ]:
# assign the value 9 to variable: n


# and logical operator

In [ ]:
# assign the value 9 to variable: n
n = 9

# not with and logical operator

## Assignment Operators

Assignment operators are great when you need to assign values to variables. Try out the following examples and be sure to write your own tests to really understand how assignment operators work:

### Basic assigment operator

In [ ]:
# assign the value of 1 to variable: n


# print n

### Assigment math operators

In [ ]:
# assign the value of 1 to variable: n


# addition +=


# # print n to return value of 10

In [ ]:
# substraction -=


# print n to return value of 9

In [ ]:

# multiplication *=


# print n to return value of 45

In [ ]:
# division /=


# print n to return value of 9.0

In [ ]:
# type cast n back into an int


# print n to return integer value of 9

In [ ]:
# modulo %=


# print n to return value of 1

In [ ]:
# assign the value of 75.9 to variable: n


# floor division //=


# print n to return value of 25.0

In [ ]:
# assign the value of 5 to variable: n


# exponentiation **=


# print n to return value of 25

## Identity Operators

Identity operators are great when you want to compare objects, so see if they are actually the same object:

In [ ]:
a = 'Skateboard'
b = 'Skateboard'

a is b

In [ ]:
a = 'Longboard'
b = 'Skateboard'

a is b

In [ ]:
a = 'Longboard'
b = 'Skateboard'

a is not b

## Membership Operators
Membership operators are a great way to test and see if a sequence is present in another object:

In [ ]:
fruits = ["apple", "banana"]

"banana" in fruits

In [ ]:
fruits = ["apple", "banana"]

"banana" not in fruits

In [ ]:
fruits = ["apple", "pear"]

"banana" in fruits